<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/css/default.css">
        <link rel="icon" href="/favicon.ico"/>
        <title>健康状態報告システム</title>
    </head>
    <body>
        <h1>健康状態報告システム</h1>
        <nav id=navbar>
            <ul class="navbar">
		<li><a href="/nocheckerdl">csv取得</a></li>
				<li><a href="/checker_chdate">報告者確認</a></li>
                <li><a href="/chpass">パスワード変更</a></li>
                <li><a href="/logout">ログアウト</a></li>
            </ul>
        </nav>
	<p>ようこそ，{{user}}さん．<br>{{today}}の健康状態報告未提出者の確認を行います．</p>
	
	<table border="1">
	    <thead>
		<tr>
		    <th>未報告者</th>
		    <th>寮棟</th>
		    <th>部屋番号</th>
		</tr>
	    </thead>
	    <tbody>
	        {% for i in range(0,uid_len) %}
		<tr>
		    <td>{{userid[i]}}</td>
		    <td>{{dormitory_type[i]}}</td>
		    <td>{{room[i]}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
    </body>
</html>
		  
