<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="/css/default.css">
        <link rel="icon" href="/favicon.ico"/>
	<title>健康状態報告システム</title>
    </head>
    <body>
        <div>
            <h1>健康状態報告システム</h1>
            <h2>報告可能時間外</h2>
        </div>
        <div>
		現在報告可能時間外です<br>
		報告可能時間は06:30-08:30,16:00-20:15です.
        </div>
        <div>
            ユーザ登録はこちら → <a href="/user_regist_form">新規登録</a>
        </div>
    </body>
</html>
